<h1>Directivas estructurales </h1>
<hr>

<div class="row">
  <div class="col-md-6">
    <h3>*ngIF</h3>
    <hr>

    <button (click)="mostrar = !mostrar"
            type="button"
            class="btn btn-outline-primary btn-block">
      Mostrar / Ocultar
    </button>
    <br>

    <div *ngIf="mostrar"
         class="card card-inverse card-primary mb-3 text-center">
      <div class="card-block">
        <blockquote class="card-blockquote">
          <p>{{texto}}</p>
          <footer>autor <cite title="Source Title">{{autor}}</cite></footer>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <h3>*ngFOR</h3>
    <hr>

    <ul class="list-group">
      <li *ngFor="let item of personajes; let i = index"
          class="list-group-item">{{i+1}} - {{item}}</li>
    </ul>

  </div>
</div>
